main {
    text-align: center;
}

.header {
    user-select: none;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
}

.header > :nth-child(1) {
    float: left;
    width: 5rem;
}

.header > :nth-child(2) {
    margin: 0 auto;
}

.header > :nth-child(3) {
    float: right;
    width: 5rem;
}

.gameboard,
.reset-button {
    user-select: none;
}

.gamecell,
.reset-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
    padding: 0;
    border-width: 4px;
    border-style: outset;
    background-color: lightgray;
    border-color: whitesmoke;
}

.gamecell.flagged {
    font-size: medium;
}

.gamecell {
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
}
.reset-button {
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.gamecell p,
.reset-button p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.revealed,
.gameboard:not(.gameover).left-mouse-down .gamecell:not(.flagged):hover:active,
.reset-button:hover:active {
    border-width: 1px 0px 0px 1px;
    padding: 0px 0px 5px 0px;
    border-color: gray;
    border-style: solid;
}

.revealed.mine {
    background-color: red;
}

.revealed-1 {
    color: blue;
}

.revealed-2 {
    color: green;
}

.revealed-3 {
    color: red;
}

.revealed-4 {
    color: navy;
}

.revealed-5 {
    color: darkred;
}

.revealed-6 {
    color: royalblue;
}

.revealed-7 {
    color: black;
}

.revealed-8 {
    color: gray;
}

.menu {
    margin-top: 0.5rem;
}

.menu > * {
    margin: 0.3rem;
}

.user-input > * {
    display: inline-block;
    width: 4rem;
}
